---
layout: page
permalink: /index.html
---


{% if feeds.conferences.length > 0 %}
<h2>conferenties</h2>

<section class="conferences">
    <table class="conf-table">
        {%- for conference in feeds.conferences -%}
        <tr class="conf-row">
            <td><a class="conf-link" href="{{ conference.url }}">{{ conference.start_date | dateRange: conference.end_date }}</a></td>
            <td>{{ conference.city }}</td>
            <td>{{ conference.title }}</td>
        </tr>
        {%- endfor -%}
    </table>
    <div class="map">
        <img src="/assets/ne-be.svg" alt="Kaart van Nederland en Vlaanderen"/>
    </div>
</section>
{% endif %}

{% if feeds.posts.length > 0 %}
<h2>blogs en nieuws</h2>

<ul class="box item-box">
{%- for post in feeds.posts -%}
        <li class="item" lang="{{ post.language | default: 'en' }}">
                <a class="link item-link" href="{{ post.link }}">
                        <h4 class="item-feed-title">{{ post.feedTitle }} <span class="item-feed-date">• <time itemprop="datePublished" datetime="{{ conference.dateValue | ymdDate }}">{{ post.dateValue | dutchShortDate }}</time></span></h4>
                        <h3 class="item-title">{{ post.title }}</h3>
                </a>
        </li>
{%- endfor -%}
</ul>
{% endif %}

{% if feeds.videos.length > 0 %}
<h2>video’s</h2>

<ul class="box video-box">
        {%- for video in feeds.videos -%}
                <li class="video">
                        <a class="link video-link" href="{{ video.link }}">
                                <img class="video-thumbnail" src="{{ video.thumbnail.url }}">
                                <h4 class="item-feed-title">{{ video.author }} <span class="item-feed-date">• <time itemprop="datePublished" datetime="{{ conference.dateValue | ymdDate }}">{{ video.dateValue | dutchShortDate }}</time></span></h4>
                                <h3 class="video-title">{{ video.title }}</h3>
                        </a>
                </li>
        {%- endfor -%}
</ul>
{% endif %}

<p class="updated">Laatst bijgwerkt: {{ feeds.lastUpdated | dutchLongDate }}</p>