---
layout: page
permalink: /index.html
---

<p>Werk in uitvoering.</p>

<h2>blogs en nieuws</h2>

<ul class="box">
{%- for post in feeds.posts -%}
        <li class="item" lang="{{ post.language | default: 'en' }}">
                <a class="item-link" href="{{ post.link }}">
                        <h4 class="item-feed-title">{{ post.feedTitle }}</h4>
                        <p class="item-title">{{ post.title }}</p>
                </a>
        </li>
{%- endfor -%}
</ul>

<h2>aliquam suscipit</h2>

<div class="box"></div>

<p>Laatst bijgwerkt: {{ feeds.lastUpdated }}</p>