---
layout: page
permalink: /index.html
---

<h2>conferenties</h2>

<ul class="box item-box">
        {%- for conference in feeds.conferences -%}
                <li class="item">
                        <a class="link item-link" href="{{ conference.url }}">
                                <h4 class="item-feed-title"><time itemprop="datePublished" datetime="{{ conference.start_date }}">{{ conference.start_date | dutchShortDate }}</time>{% if conference.start_date != conference.end_date %} - <time itemprop="datePublished" datetime="{{ conference.end_date }}">{{ conference.end_date | dutchShortDate }}</time>{% endif %} • {{ conference.city }}</h4>
                                <h3 class="item-title">{{ conference.title }}</h3>
                        </a>
                </li>
        {%- endfor -%}
</ul>

<h2>blogs en nieuws</h2>

<ul class="box item-box">
{%- for post in feeds.posts -%}
        <li class="item" lang="{{ post.language | default: 'en' }}">
                <a class="link item-link" href="{{ post.link }}">
                        <h4 class="item-feed-title">{{ post.feedTitle }} <span class="item-feed-date">• <time itemprop="datePublished" datetime="{{ conference.dateValue | ymdDate }}">{{ post.dateValue | dutchShortDate }}</time></span></h4>
                        <h3 class="item-title">{{ post.title }}</h3>
                </a>
        </li>
{%- endfor -%}
</ul>

<h2>video’s</h2>

<ul class="box video-box">
        {%- for video in feeds.videos -%}
                <li class="video">
                        <a class="link video-link" href="{{ video.link }}">
                                <img class="video-thumbnail" src="{{ video.thumbnail.url }}">
                                <h4 class="item-feed-title">{{ video.author }} <span class="item-feed-date">• <time itemprop="datePublished" datetime="{{ conference.dateValue | ymdDate }}">{{ video.dateValue | dutchShortDate }}</time></span></h4>
                                <h3 class="video-title">{{ video.title }}</h3>
                        </a>
                </li>
        {%- endfor -%}
</ul>

<p class="updated">Laatst bijgwerkt: {{ feeds.lastUpdated | dutchLongDate }}</p>