---
layout: page
permalink: /index.html
---


{% if feeds.conferences.length > 0 %}

    <style>
    {%- for city in feeds.cities -%}

        .conferences:has(.city.city-{{ city.slug }}:hover) .conf-row.city-{{ city.slug }}>td {
            color: white;
            background: #494949;
        }
        .conferences:has(.conf-row.city-{{ city.slug }}:hover) .city.city-{{ city.slug }} {
            outline-offset: 10px;
        }

    {%- endfor -%}
    </style>

    <h2>conferenties</h2>

<section class="conferences">
    <table class="conf-table">
        {%- for conference in feeds.conferences -%}
        <tr class="conf-row city-{{ conference.slug }}">
            <td><a class="conf-link" href="{{ conference.url }}">{{ conference.start_date | dateRange: conference.end_date }}</a></td>
            <td>{{ conference.city }}</td>
            <td>{{ conference.title }}</td>
        </tr>
        {%- endfor -%}
    </table>
    <div class="map">

        {%- for city in feeds.cities -%}
            <div class="city city-{{ city.slug }}" style="--lat: {{ city.latitude }}; --lon: {{ city.longitude }};"></div>

        {%- endfor -%}
        <img src="/assets/nl-vl.svg" alt="Kaart van Nederland en Vlaanderen"/>
    </div>
</section>
{% endif %}

{% if feeds.posts.length > 0 %}
<h2>blogs en nieuws</h2>

<ul class="box item-box">
{%- for post in feeds.posts -%}
        <li class="item" lang="{{ post.language | default: 'en' }}">
                <a class="link item-link" href="{{ post.link }}">
                        <h4 class="item-feed-title">{{ post.feedTitle }} <span class="item-feed-date">• <time itemprop="datePublished" datetime="{{ post.dateValue | ymdDate }}">{{ post.dateValue | dutchShortDate }}</time></span></h4>
                        <h3 class="item-title">{{ post.title }}</h3>
                </a>
        </li>
{%- endfor -%}
</ul>
{% endif %}

{% if feeds.videos.length > 0 %}
<h2>video’s</h2>

<ul class="box video-box">
        {%- for video in feeds.videos -%}
                <li class="video">
                        <a class="link video-link" href="{{ video.link }}">
                                <img class="video-thumbnail" src="{{ video.thumbnail.url }}" alt="">
                                <h4 class="item-feed-title">{{ video.author }} <span class="item-feed-date">• <time itemprop="datePublished" datetime="{{ video.dateValue | ymdDate }}">{{ video.dateValue | dutchShortDate }}</time></span></h4>
                                <h3 class="video-title">{{ video.title }}</h3>
                        </a>
                </li>
        {%- endfor -%}
</ul>
{% endif %}

<!--
{{ feeds.podcasts |  json }}
-->

{% if feeds.podcasts.items.length > 0 %}
    <h2>podcasts</h2>

    <div class="box">
        <ul class="podcast-box">
            {%- for podcast in feeds.podcasts.items -%}
                <li class="podcast">
                    <div class="podcast-item" href="{{ podcast.link }}">

                        <img class="podcast-thumbnail" src="{{ podcast.image | default: podcast.feedImage }}" alt="">

                        <div class="podcast-content">
                            <h4 class="item-feed-title podcast-creator">
                                {{ podcast.creator }}
                                • {{ podcast.duration | duration }}
                                • <span class="item-feed-date podcast-date"><time itemprop="datePublished" datetime="{{ podcast.dateValue | ymdDate }}">{{ podcast.dateValue | dutchShortDate }}</time></span>
                                <div class="podcast-icons">
                                {% if podcast.link != "" %}
                                    <a class="podcast-link" href="{{ podcast.link }}"><img class="podcast-logo podcast-link-logo" src="/assets/link.svg" alt="Link naar podcastpagina"/></a>
                                {% endif %}
                                {% if podcast.feedItunesId %}
                                    <a class="podcast-apple" href="https://podcasts.apple.com/nl/podcast/id{{ podcast.feedItunesId }}"><img class="podcast-logo podcast-apple-logo" src="/assets/apple.svg" alt="Link naar Apple Podcasts"/></a>
                                {% endif %}
                                </div>


                            </h4>
                            <h3 class="podcast-title">{{ podcast.title }}</h3>
                            <div class="podcast-controls">
                                <audio class="podcast-audio" controls preload="none" src="{{ podcast.enclosureUrl }}"></audio>
                            </div>
                        </div>
                    </div>
                </li>
            {%- endfor -%}
        </ul>
        <a class="podcast-attribution" href="https://podcastindex.org" target="_blank" rel="nofollow, noopener">
            Podcastgegevens geleverd door Podcast Index
        </a>
    </div>
{% endif %}


<p class="small">Laatst bijgwerkt: {{ feeds.lastUpdated | dutchLongDate }}</p>